:root{
  --green: #CCE8DB;
  --blue: #C1D4E3;
  --lavender: #BEB4D6;
  --palePink: #FADAE2;
  --pink: #F8B3CA;
  --darkPink: #CC97C1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  overflow-x: hidden;
}

.indvKurs:nth-child(even){
  background-color: var(--lavender); 
}
.indvKurs:nth-child(odd){
  background-color: var(--pink); 
}

